<h1> Add New Comment Form </h1>

<%= form_with model: @comments, url: user_post_comments_path, method: :post, local: true, scope: :user_post_comments do |form| %>
  <div>
    <%= form.text_field :text, placeholder: "Comment text" %>
  </div>

  <%= form.submit value: 'Add comment' %>
<% end %>