<h1> Add New Comment Form </h1>

<%= form_with model: @comment, url: user_post_comments_path(@user, @post), method: :post, local: true, scope: :comment do |form| %>
  <div>
    <%= form.text_field :text, placeholder: "Comment text" %>
  </div>

  <%= form.submit value: 'Add comment' %>
<% end %>
