<div class="main-container">
<section class="container">
    <% @users.each do |user|%>
    <article class="left-post">
    <img src=<%= user.photo %> class="image" alt=<%= user.name %>>
    </article>
    <article class="right-post">
    <h3><%= link_to user.name, user %></h3>
    <p> Number of posts: <%= user.posts_counter %></p>
    </article>
    <% end %>
</section>
</div>