.main-class {
  width: 50%;
  margin: auto auto;
}

.section-class {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.article-image {
  width: 100px;
  height: 100px;
  border: 2px dotted blue;
}

.names {
  display: flex;
  width: 500px;
  gap: 80px;
  height: 90px;
  justify-content: space-between;
  border: 2px dotted blue;
}

.names h3 a {
  font-size: 30px;
  text-decoration: none;
}

.names p {
  display: flex;
  align-items: flex-end;
}

.header {
  margin: auto auto;
  margin-bottom: 40px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header a {
  text-decoration: none;
  font-size: 80px;
}

.app-form {
  display: flex;
  width: 30%;
  margin: auto auto;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.app-form div input {
  width: 600px;
  height: 30px;
}

.app-form small a {
  cursor: pointer;
}
